body{
    font-family: 'Poppin',sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
    font-weight: 400;
    margin: 10px 0px;
    
}
.top-banner{
    background-repeat: no-repeat;
    height: 600px;
    border: 2px solid black;
    
}

.half-width{
    width:40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    border: 2px solid black;
}

.half-width img{
    width: 100%;
    border: 2px solid black;
    max-height: 595px;
    
}

.mtop{
    margin-top: 150px;
}

.name-color{
    color:rgb(228, 59, 36);

}

.button-top{
    margin-top: 30px;
}

section{
    height: 700px;
}

.back-color{
    background-color: rgb(226, 226, 226);
}
.link-button{
    text-decoration: none;
    border-radius: 5px;
    background: orangered;
    color: white;
    padding: 10px 20px;
    font-weight: 700;
    background-image:linear-gradient(45deg, lightsalmon,tomato);
    
}


p{
    color: dimgray;
    text-align: justify;
    margin: 0;
}

a{
    margin-top: 100px;
}

#box-boder1{
    border-left: 7px solid;
    border-image:linear-gradient(180deg, rgb(158, 47, 3),rgb(231, 117, 97));
    border-image-slice: 1;
}

#box-boder2{
    border-left: 7px solid;
    border-image:linear-gradient(180deg, rgb(12, 31, 209),rgb(44, 114, 243));
    border-image-slice: 1;
}

.client{
    padding-top: 60px;
}
footer{
    text-align: center;
    font-weight: 400;
    padding: 12px 0;
    background-color: rgb(245, 238, 238);
}

.img-height{
    height: 100%;
}








