body{
    font-family: 'Poppin',sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
    font-weight: 400;
    margin: 10px 0px;
    
}

.top{
    margin-top: 100px;
}

.name-color{
    color:rgb(172, 28, 95);

}

.button{
    margin-top: 40px;
}

.half-width{
    width:40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}

.half-width img{
    width: 100%;
}

.top-banner{
    background-image:url("img/header-bg.png");   
    background-repeat: no-repeat;
    image-resolution: 192dpi;
    padding-top: 100px;
    background-size: 100% 96%;
}

section{
    height: 500px;
    padding-bottom: 20px;
}

.back-color{
    background-color: rgb(226, 226, 226);
}
.link-button{
    text-decoration: none;
    border-radius: 5px;
    background: orangered;
    color: white;
    padding: 10px 20px;
    font-weight: 700;
    background-image:linear-gradient(45deg, lightsalmon,tomato);
    
}

.mid-banner{
    background-image:url("img/biography-bg.png");  
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
}

p{
    color: dimgray;
    text-align: justify;
    margin: 0;
}

a{
    margin-top: 100px;
}

.mid{
    margin-top: 90px;
}

.title-name-color{
    color: orange;
}

.single-experience{
    box-shadow: 10px 10px 40px gray;
    height: 70%;
}

.left-margin{
    margin-left: 5%;
}

.experience{
    background-image: url(img/latest-work-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;

}

#box-boder1{
    border-left: 7px solid;
    border-image:linear-gradient(180deg, rgb(158, 47, 3),rgb(231, 117, 97));
    border-image-slice: 1;
}

#box-boder2{
    border-left: 7px solid;
    border-image:linear-gradient(180deg, rgb(12, 31, 209),rgb(44, 114, 243));
    border-image-slice: 1;
}

.client{
    padding-top: 60px;
}
footer{
    text-align: center;
    font-weight: 400;
    padding: 12px 0;
    background-color: rgb(245, 238, 238);
}

.mtop{
    margin-top: 50px;
}

.pad-top{
    padding-top: 30px;
}
.center{
    text-align: center;
}

.box-width{
    width: 25%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}

.box-image{
    width: 100%;
    height: 70%;
}

.client-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}